{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="light_txt"> <span id="bright_txt">Payment Scheme:</span> Choose a scheme to calculate Bonus 2.</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 border rounded" id="light_bg">
            <h3>Scheme 1:</h3>
            <p>
                Each participant will be paid their individual score plus half of the sum of both
                players scores.
                <br><br>
                For example: YOU scored <b>10</b> and the OTHER scored <b>12</b> correct words. Half of the sum of
                both players’ scores is (10+12) / 2 = 11. Then
                <ul>
                    <li>YOU receive (10 + 11) = 21 points. </li>
                    <li>The OTHER player receives (12 + 11) = 23 points.</li>
                </ul>
            </p>
            <br><br><br><br><br>
        </div>
        <div class="col-sm-6 border rounded" id="light_bg">
            <h3>Scheme 2:</h3>
            <p>
                The participants with lowest score will be paid a bonus equal to his
                score. The participant with the highest score will be paid a bonus equal to three times his score.
                <br><br>
                For example: YOU scored <b>10</b> and the OTHER scored <b>12</b> correct words. The OTHER participant
                has the highest score. Then:
                <ul>
                    <li>YOU receive 10 points. </li>
                    <li>The OTHER player receives (12 * 3) = 36 points.</li>
                </ul>
                In case of a tie, the computer will randomly choose between YOU and the OTHER. The chosen participant will
                be paid 3 times his score and the participant not chosen will be paid his score.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 border rounded" id="light_bg">
        </div>
        <div class="col-sm-8 border rounded" id="light_bg">
            <button name="endo" value="1" class="btn button btn-large"> Scheme 1</button>
            <button name="endo" value="2" class="btn button btn-large"> Scheme 2</button>
        </div>
        <div class="col-sm-4 border rounded" id="light_bg">
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<!-- CSS -->
    <style type="text/css">
        #light_bg{
            background-color: #ffffff;
        }
        #medium_bg{
            background-color: #cee7eb;
        }
        #dark_bg{
            background-color: #0a798a;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #cee7eb;
        }
        #bright_txt {
            color: #ffa200;
        }
        #dark_txt {
            color: #0a798a;
        }
        .center {
            text-align: center;
        }
        #highlight_title {
            background-color: #0a798a;
            color: #ffffff;
        }
        .button2 {
            background-color: #ffa200;
            color: #000000;
            border: 2px solid #000000
        }
        .button2:hover {
            background-color: #000000;
            color: #ffa200;
            border: 2px solid #ffa200
        }
        .button {
            background-color: #0a798a;
            color: #ffffff;
            border: 2px solid #ffa200
        }
        .button:hover {
            background-color: #ffa200;
            color: #000000;
            border: 2px solid #3E2723
        }
        .message{
            background-color: #E1BEE7;
            color:#000000;
        }
    </style>
{% endblock %}


