{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="light_txt"> Instructions <span id="bright_txt">Task 2</span>.</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-7 border rounded" id="light_bg">
            <p>
            Task 2 is an encryption task identical to task 1. The main difference is the way Bonus 2 is calculated. There
            are <b>two elements</b> to calculate Bonus 2:
            <ul>
                <li>A payment scheme you will choose between two options (this is explained below), and</li>
                <br>
                <li>Your score and the score of another participant in the encryption task 2. For the example, we
                use the illustration in Figure 1 where YOU score 10 correct words and the OTHER participant scores 12.</li>
            </ul>
            <b>YOU</b> and the <b>OTHER</b> participant will be randomly matched if both of you choose the <b>same</b> payment
            scheme. Both YOU and the OTHER participant went through both the trial and the encryption Task 1 before Task 2.
            </p>
        </div>
        <div class="col-sm-5 border rounded" style='background-color: #ffffff;'>
            <img width="100%" src="{% static "inst_coopetition2/img_example.png" %}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 border rounded" id="light_bg">
            <h5>Payment Scheme 1</h5>
            <p>
                If you choose scheme 1, Bonus 2 is calculated using the scores YOU and the OTHER participant get.
                Specifically, the payment will be determined by the individual score and half of the sum of both players scores.
                <br><br>
                <b>Example:</b> YOU scored <b>10</b> and the OTHER scored <b>12</b> correct words. Half of the sum of
                both players’ scores is (10+12) / 2 = 11. Then
                <ul>
                    <li>YOU receive (10 + 11) = 21 points. </li>
                    <li>The OTHER player receives (12 + 11) = 23 points.</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 border rounded" id="light_bg">
            <h5>Payment Scheme 2</h5>
            <p>
                If you choose scheme 2, Bonus 2 is calculated differently for the participant with highest score than for
                the participant with lowest score. The participants with lowest score will be paid a bonus equal to his
                score. The participant with the highest score will be paid a bonus equal to three times his score.
                <br><br>
                <b>Example:</b> YOU scored <b>10</b> and the OTHER scored <b>12</b> correct words. The OTHER participant
                has the highest score. Then:
                <ul>
                    <li>YOU receive 10 points. </li>
                    <li>The OTHER player receives (12 * 3) = 36 points.</li>
                </ul>
                In case of a tie, the computer will randomly choose between YOU and the OTHER to be paid the higher bonus.
                This means that, the chosen participant will be paid 3 times his score and the participant not chosen
                will be paid his score.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 border rounded" id="light_bg">
            <p>
               At the end of the experiment, you will receive information about the number of words that you and the other
                participants encrypted correctly.
            </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continue </button>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<!-- CSS -->
    <style type="text/css">
        #light_bg{
            background-color: #ffffff;
        }
        #medium_bg{
            background-color: #cee7eb;
        }
        #dark_bg{
            background-color: #0a798a;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #cee7eb;
        }
        #bright_txt {
            color: #ffa200;
        }
        #dark_txt {
            color: #0a798a;
        }
        .center {
            text-align: center;
        }
        #highlight_title {
            background-color: #0a798a;
            color: #ffffff;
        }
        .button2 {
            background-color: #ffa200;
            color: #000000;
            border: 2px solid #000000
        }
        .button2:hover {
            background-color: #000000;
            color: #ffa200;
            border: 2px solid #ffa200
        }
        .button {
            background-color: #0a798a;
            color: #ffffff;
            border: 2px solid #ffa200
        }
        .button:hover {
            background-color: #ffa200;
            color: #000000;
            border: 2px solid #3E2723
        }
        .message{
            background-color: #E1BEE7;
            color:#000000;
        }
    </style>
{% endblock %}


