{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="light_txt"> Welcome to this study.</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 border rounded" id="light_bg">
            <p>
                You will participate in a simple set of 2 tasks. The first task is individual and the second takes place
                with another MTurk worker.
                <br><br>
                The details of these tasks will be explained to you in the following screens. You will read the instructions for each task and be asked a
                few comprehension questions to see if you understand the instructions. You can only participate in each
                task if you answer all of these questions correctly, so your full attention is needed for the duration
                of the study.
                <br><br>
                Your participation in this study will take between 10 and 15 minutes. For your complete participation in
                tasks 1 and 2, you will earn a show-up payment of {{ Constants.fixed_pay }} {{ Constants.exp_currency }}.
                <br><br>
                In addition, for each task you can <b>gain a bonus</b> (Bonus 1 and Bonus 2). In total, you can earn up to 2.5 USD,
                including the show-up payment. Please read these instructions carefully as they describe how you can earn
                the bonus payments for each task.
                <br><br>
                After finishing the two tasks you will be asked to fill out a short questionnaire.
                <br><br>
                Please, click on the button to begin your participation in this study.
                </p>
                <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Begin </button>
                <br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<!-- CSS -->
    <style type="text/css">
        #light_bg{
            background-color: #ffffff;
        }
        #medium_bg{
            background-color: #cee7eb;
        }
        #dark_bg{
            background-color: #0a798a;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #cee7eb;
        }
        #bright_txt {
            color: #ffa200;
        }
        #dark_txt {
            color: #0a798a;
        }
        .center {
            text-align: center;
        }
        #highlight_title {
            background-color: #0a798a;
            color: #ffffff;
        }
        .button2 {
            background-color: #ffa200;
            color: #000000;
            border: 2px solid #000000
        }
        .button2:hover {
            background-color: #000000;
            color: #ffa200;
            border: 2px solid #ffa200
        }
        .button {
            background-color: #0a798a;
            color: #ffffff;
            border: 2px solid #ffa200
        }
        .button:hover {
            background-color: #ffa200;
            color: #000000;
            border: 2px solid #3E2723
        }
        .message{
            background-color: #E1BEE7;
            color:#000000;
        }
    </style>
{% endblock %}